body{
    margin: 0;
    padding: 0;
}

/*swiper*/
.swiper-slide{
    position: relative;
}
.swiper-slide-left{
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: green;
}

.swiper-slide-right{
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
    background-color: blueviolet;
}

/*iscroll*/
#iscroll-container{
    overflow: hidden;
}

.iscroll-content{
    width: 1000px;
    background-color: cornflowerblue;
    height: 100%;
    overflow: hidden;
}